* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e5e5e5;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: #fff;
  position: sticky;
  width: 100vw;
  height: 4.5rem;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
  margin: 0;
  overflow: hidden;
}

.logo-text {
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 5.5rem;
  margin-right: 1.5rem;
}

.nav-links a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #344563;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.ham-menu {
  display: none;
}

.mobile-menu {
  display: none;
}

#ham-menu-toggle {
  display: inline-block;
}

header li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 15%;
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

main h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #091e42;
  padding: 1.5rem 0;
  margin-top: 12rem;
}

main p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #344563;
  margin-bottom: 2.5rem;
}

.connect {
  color: #7f8cff;
  font-size: 1rem;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  margin-bottom: 13rem;
}

.social-media-icons img {
  width: 1.25rem;
  height: 1rem;
  color: #505f79;
  object-fit: contain;
}

.rect-6 {
  position: absolute;
  width: 108.67px;
  height: 19.44px;
  left: 34.6px;
  top: 170.92px;
  background: #ebebff;
  transform: rotate(-46.14deg);
}

.el-11 {
  position: absolute;
  width: 80.48px;
  height: 40.24px;
  left: 79.2px;
  top: 200.68px;
  background: #6070ff;
  transform: rotate(-156.88deg);
  border-radius: 100px 100px 0 0;
}

.rect-7 {
  position: absolute;
  width: 56.01px;
  height: 10.02px;
  left: 693.25px;
  top: 221.57px;
  background: #6070ff;
  transform: matrix(0.98, -0.21, -0.21, -0.98, 0, 0);
}

.el-5 {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 708px;
  top: 233px;
  background: #ebebff;
  border-radius: 100%;
}

.el-7 {
  box-sizing: border-box;
  position: absolute;
  width: 39px;
  height: 39px;
  left: 965px;
  top: 192px;
  background: #fff;
  border: 1px solid #ebebff;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-radius: 100%;
}

.rect-4 {
  position: absolute;
  width: 204px;
  height: 47px;
  left: 1146px;
  top: 121px;
  background: #ebebff;
  transform: rotate(-30deg);
}

.el-3 {
  position: absolute;
  width: 224px;
  height: 224px;
  left: 1208px;
  top: 192px;
  background: #6070ff;
}

.rect-5 {
  position: absolute;
  width: 161.41px;
  height: 28.87px;
  left: 931.44px;
  top: 750px;
  background: #ebebff;
  transform: rotate(23.34deg);
}

.el-4 {
  position: absolute;
  width: 47px;
  height: 47px;
  left: 1051px;
  top: 731px;
  background: #6070ff;
  border-radius: 100%;
}

.el-6 {
  box-sizing: border-box;
  position: absolute;
  width: 75px;
  height: 75px;
  left: 1174px;
  top: 644px;
  background: #fff;
  border: 1px solid #ebebff;
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 2.5rem;
  }

  .nav-links {
    display: none;
  }

  .ham-menu {
    display: inline-block;
    cursor: pointer;
  }

  .ham-menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    padding: 20px;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    position: fixed;
    top: -100vh;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #6070ff;
    opacity: 0.9;
    gap: 2.5rem;
    z-index: 1000;
  }

  .mobile-menu-links a {
    color: #fff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  .times {
    position: absolute;
    top: 0.5rem;
    right: 2.5rem;
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
  }

  .mobile-menu-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    top: 10%;
    left: 15%;
    justify-content: left;
    align-items: flex-start;
  }

  main {
    padding: 0 5%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0;
    overflow: hidden;
  }

  .social-media-icons {
    margin-bottom: 9rem;
  }

  /* when the ham menu toggle is checked show the mobile menu */

  #ham-menu-toggle:checked + .mobile-menu {
    top: 0;
  }

  .rect-6 {
    position: absolute;
    width: 51.99px;
    height: 9.3px;
    left: -30px;
    top: 160.49px;
    transform: rotate(-46.14deg);
    background-color: #ebebff;
  }

  .el-11 {
    position: absolute;
    width: 38.5px;
    height: 19.25px;
    left: -16.04px;
    top: 161.47px;
    background-color: #6070ff;
    transform: rotate(-156.88deg);
    border-top-left-radius: 30px;
  }

  .rect-7 {
    position: absolute;
    width: 26.46px;
    height: 4.73px;
    left: 127.18px;
    top: 151.59px;
    background: #6070ff;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
  }

  .el-5 {
    position: absolute;
    width: 11px;
    height: 10px;
    left: 132.98px;
    top: 155.81px;
    background: #cbcdff;
    transform: rotate(52.97deg);
    border-radius: 100%;
  }

  .rect-4 {
    position: absolute;
    width: 95.58px;
    height: 22.02px;
    left: 294px;
    top: 105.79px;
    background: #ebebff;
    transform: rotate(-30deg);
  }

  .el-3 {
    position: absolute;
    width: 105px;
    height: 105px;
    left: 323px;
    top: 115px;
    background: #6070ff;
    border-radius: 100%;
  }

  .el-12 {
    position: absolute;
    width: 24.14px;
    height: 12.07px;
    left: 291.76px;
    top: 773.69px;
    background: #6070ff;
    transform: rotate(-176.08deg);
    border-radius: 100px 100px 0 0;
  }

  .el-15 {
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 53px;
    top: 915px;
    background: #fff;
    border: 1px solid #cbcdff;
    border-radius: 100%;
  }

  .rect-5 {
    position: absolute;
    width: 68.06px;
    height: 12.18px;
    left: 191.82px;
    top: 903px;
    background: #ebebff;
    transform: rotate(23.34deg);
  }

  .el-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 237px;
    top: 893.1px;
    background: #6070ff;
    border-radius: 100%;
  }

  .el-7,
  .el-6 {
    display: none;
  }
}
